/* You can add global styles to this file, and also import other style files */
.bg {
  height: 1000px;
}

.one {
  margin-top: 1000px;
  background-color: oklch(70% 0.1 14);
}

.two {
  background-color: oklch(70% 0.1 107.36);
}

.three {
  background-color: oklch(70% 0.1 239.82);
}

.four {
  background-color: oklch(70% 0.1 319.94);
}
